@media (max-width: var(--breakpoint-mobile)) {
    .container {
        padding: 10px;
        margin: 60px auto;
    }
}

@media (max-width: var(--breakpoint-table)) {
    .container {
        padding: 15px;
        margin: 80px auto;
    }
}

@media (min-width: var(--breakpoint-desktop)) {
    .container {
        max-width: 1310px;
    }
}
